DB_USERNAME=erick
DB_PASSWORD=029051
DB_URL=postgresql://localhost:5432/econolyze
DB_JDBC_URL=jdbc:postgresql://localhost:5432/econolyze
DB_SCHEMA=ai
DB_HOST=localhost
DB_PORT=5432
DB_NAME=econolyze

INTERNAL_SECRET=you_should_change_this_to_a_secure_random_value

GEMINI_API_KEY=you_should_replace_this_with_your_actual_gemini_api_key

GROQ_API_KEY=gsk_your_groq_api_key_here